/*  
The Constitution of the United States of America
Author: 
Author URI: 
*/

	@import url(reset.css);
	@import url(fonts.css);
	
	body { background:#e6e6e6; color:#333; font:normal 62.5%/1.4 georgia,times,serif; margin:1em; text-align:center; }
	
	header { display:block; min-width:400px; text-align:left; width:100%; }
	header h1 { font-family:"Sorts Mill Goudy"; font-size:600%; font-weight:normal; line-height:.6; margin:0 0 .25em; }
	
	nav { display:block; margin:1em auto; min-height:50px; min-width:400px; width:50%; }
	nav ol { list-style:none; text-indent:0; }
	nav ol li { display:inline; }
	nav ol li a {
		background:#999;
		border-width:1px solid #333;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		color:#fff;
		display:block;
		float:left;
		font:bold 100% 'segoe ui',helvetica,arial,geneva,sans-serif;
		margin:0 .5em 0 0;
		padding:.5em 1em;
		text-decoration:none;
		}
	nav ul li a:hover {
		background:#09f;
	}
	
	section { clear:both; display:block; margin:0 auto; min-width:400px; text-align:left; width:50%; }
	section h2 { font-size:200%;  font-weight:bold; text-transform:uppercase; }
	section h3 { font-size:160%; font-weight:bold; }
	section h4 { font-size:130%; font-weight:bold; }
	
	section#preamble {}
	section#preamble p { font-size:200%; font-style:italic; margin:0 0 1em; }
	
	section section { display:block; margin:0 0 1em; padding:0 0 1em; width:100%; }
	section section section { margin:0 0 1em 2em; }
	section ol { font-size:130%; list-style:decimal; margin:0 0 1em; text-indent:0; }
	section ol li { margin:0 0 1em; }
	section p { font-size:130%; margin:0 0 1em; }
	section ul { font-size:130%; list-style:circle; margin:0 0 1em; text-indent:0; }
	section ul li { margin:0 0 1em; }
	section ol li p,
	section ul li p { font-size:100%; }
	

	